<section class="container bg-primary gx-0 h-100" [ngStyle]="{'display': (loggedIn || loading) ? 'none' : 'block'}">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto">
      <div class="card h-100 border-primary justify-content-center bg-primary">
        <img src="../assets/gassoft-logo.png" class="card-img-top" alt="...">
        <div class="card-body bg-white text-center" style="border-radius: 8px;">
          <h5 class="card-title">Iniciar sesión</h5>
          <form (submit)="login()">
            <div class="input-group mb-3">
              <span class="input-group-text" id="label-usuario">Usuario:</span>
              <input type="text" class="form-control" aria-label="Usuario" aria-describedby="label-usuario" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="label-password">Contraseña:</span>
              <input type="password" class="form-control" aria-label="Password" aria-describedby="label-password"
                required>
            </div>
            <button type="submit" class="btn btn-primary">Continuar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container bg-primary gx-0 h-100" *ngIf="loading">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto">
      <div class="h-100 justify-content-center">
        <div class="d-flex justify-content-center mx-auto ">
          <div class="spinner-border text-light" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container gx-0 h-100 bg-white pb-3" *ngIf="loggedIn"
  [ngStyle]="{'display': (loading) ? 'none' : 'block'}">
  <ul class="nav sticky-top justify-content-center bg-primary">
    <li class="nav-item">
      <a class="nav-link text-light p-0">
        <img src="../assets/gassoft-logo.png" class="img-fluid" height="64px" alt="Gassoft" style="max-height: 64px;">
      </a>
    </li>
  </ul>
  <div class="bg-light h-100">

    <div [ngStyle]="{'display': (scanningCarQR || scanningDriverQR) ? 'none' : 'block'}">

      <div class="container pt-2 mb-0 pb-0">
        <div class="row text-center">
          <div class="col-12">
            <h6>
              Operador(a): <b>{{username}}</b>
            </h6>
          </div>
        </div>
      </div>

      <div class="card shadow m-4">
        <h5 class="card-header">Información del vehículo</h5>
        <div class="card-body pb-0" *ngIf='carDetails==""'>
          <h5 class="card-title text-center mb-1">
            <button class="btn btn-primary" (click)="showCarQRScanner()">Escanear tarjeta</button>
          </h5>
        </div>
        <div class="card-body pb-1 text-center" *ngIf="carDetails">
          <span class="badge text-bg-success">{{carDetails}}</span>
        </div>
      </div>

      <div class="card shadow m-4" [ngStyle]="{'display': (requireDriverQR) ? 'block' : 'none'}">
        <h5 class="card-header">Información del conductor</h5>
        <div class="card-body pb-0" *ngIf='driverInfo==""'>
          <h5 class="card-title text-center mb-1">
            <button class="btn btn-primary" (click)="showDriverQRScanner()">Escanear QR</button>
          </h5>
        </div>
        <div class="card-body pb-1 text-center" *ngIf="driverInfo">
          <span class="badge text-bg-success">{{driverInfo}}</span>
        </div>
      </div>

      <form (submit)="registerTransaction()">
        <div class="card shadow m-4">
          <h5 class="card-header">Ingrese el monto del despacho</h5>
          <div class="card-body pb-0">
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input (change)="updateAmount()" type="text" class="form-control">
              <span class="input-group-text">MXN</span>
            </div>
          </div>
        </div>
        <div class="container" [ngStyle]="{'display': (!scanningCarQR && !scanningDriverQR) ? 'block' : 'none'}">
          <div class="row text-center">
            <div class="col-12">
              <button [disabled]="checkSubmitProblem()" class="btn btn-success">Registrar despacho</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="card shadow m-4 pb-3" *ngIf="scanningCarQR"
      [ngStyle]="{'display': (scanningCarQR && !scanningDriverQR) ? 'block' : 'none'}">
      <h5 class="card-header">Escanear QR del vehículo</h5>
      <div class="card-body pb-0 text-center">
        <ngx-scanner-qrcode #action="scanner" (data)="carQROutput = $event"></ngx-scanner-qrcode>
        <button *ngIf="carQROutput==''" (click)="cancelCarScan(); action.stop();" type="button"
          class="btn btn-danger m-1">Cancelar</button>
        <button [ngClass]="action.isStart ? 'btn btn-danger m-1' : 'btn btn-success m-1'"
          (click)="action.toggleCamera()" [disabled]="action.isLoading">{{action.isStart ? 'Desactivar cámara' :
          'Activar cámara'}}
        </button>
        <h6>{{carQROutput}}</h6>
        <form (submit)="authorizeCar(); action.stop();" *ngIf="carQROutput">
          <div class="input-group mb-3">
            <span class="input-group-text">NIP:</span>
            <input type="text" class="form-control" aria-label="">
          </div>
          <button *ngIf="carQROutput" (click)="cancelCarScan(); action.stop();" type="button"
            class="btn btn-danger m-1">Cancelar</button>
          <button type="submit" class="btn btn-primary">Continuar</button>
        </form>
      </div>
    </div>

    <div class="card shadow m-4 pb-3" *ngIf="scanningDriverQR"
      [ngStyle]="{'display': (scanningDriverQR && !scanningCarQR) ? 'block' : 'none'}">
      <h5 class="card-header">Escanear QR del conductor</h5>
      <div class="card-body pb-0 text-center">
        <ngx-scanner-qrcode #action="scanner" (data)="driverQROutput = $event"></ngx-scanner-qrcode>
        <button *ngIf="driverQROutput==''" (click)="cancelDriverScan(); action.stop();" type="button"
            class="btn btn-danger m-1">Cancelar</button>
        <button [ngClass]="action.isStart ? 'btn btn-danger' : 'btn btn-success'" (click)="action.toggleCamera()"
          [disabled]="action.isLoading">{{action.isStart ? 'Desactivar cámara' :
          'Activar cámara'}}
        </button>
        <h6>{{driverQROutput}}</h6>
        <form (submit)="authorizeDriver(); action.stop();" *ngIf="driverQROutput">
          <div class="input-group mb-3">
            <span class="input-group-text">NIP:</span>
            <input type="text" class="form-control" aria-label="">
          </div>
          <button *ngIf="driverQROutput" (click)="cancelDriverScan(); action.stop();" type="button"
            class="btn btn-danger m-1">Cancelar</button>
          <button type="submit" class="btn btn-primary m-1">Continuar</button>
        </form>
      </div>
    </div>
  </div>
</section>